{% extends "mainTemplate.html" %}

{% block title %}Add{% endblock %}

{% block content %}
    <div class="noticeContainer mxAuto">
        <form method="post">
            <div class="centerContent">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="" autocomplete="off" maxlength="20" required>
            </div>

            <div class="centerContent">
                <label for="category">Category:</label>
                <select name="category" id="category" required>
                    <option value="Sports">Sports</option>
                    <option value="Culture">Culture</option>
                    <option value="Academics">Academics</option>
                    <option value="Music">Music</option>
                    <option value="Leadership">Leadership</option>
                    <option value="General">General</option>
                </select>
            </div>

            <div class="centerContent">
                <label for="info">Info:</label>
                <textarea name="info" id="info" value="" maxlength="125" required></textarea>
            </div>    
            
            <div class="centerContent">
                <div class="row justifyContentEvenly">
                    <div class="col">
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" name="startDate" required>
                    </div>
                    <div class="col">
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" name="endDate" required>
                    </div>
                </div>
            </div>
            <div class="centerContent">
                <button type="submit" value="Add">Add</button>
            </div>
        </form>
    </div>
{% endblock %}