{% extends "mainTemplate.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
    <div class="centerContent">
        <a href="{{ url_for('edit',dateIndex=dateIndex-1) }}" class="textDecorationNone changeDateButton">&lt;</a>
        <h1>{{ targetDate.day }}/{{ targetDate.month }}/{{ targetDate.year }}</h1>
        <a href="{{ url_for('edit',dateIndex=dateIndex+1) }}" class="textDecorationNone changeDateButton">&gt;</a>
    </div>
    {% if notices %}
        <form method="post">
            <div class="centerContent">
                <button type="submit" class="outsideButton">Submit</button>
            </div>
            {% for row in notices %}
                <div class="row justifyContentEvenly">
                    {% for notice in row %}
                        <div class="noticeContainer">
                                <input type="hidden" name="id_{{ notice['id'] }}" value="{{ notice['id'] }}">
            
                                <div class="centerContent">
                                    <input type="text" id="name_{{ notice['id'] }}" name="name_{{ notice['id'] }}" value="{{ notice['name'] }}">
                                </div>
                                <div class="centerContent">
                                    <select name="category_{{ notice['id'] }}" id="category_{{ notice['id'] }}">
                                        <option value="Sports" {% if notice['category'] == 'Sports' %}selected{% endif %}>Sports</option>
                                        <option value="Culture" {% if notice['category'] == 'Culture' %}selected{% endif %}>Culture</option>
                                        <option value="Academics" {% if notice['category'] == 'Academics' %}selected{% endif %}>Academics</option>
                                        <option value="Music" {% if notice['category'] == 'Music' %}selected{% endif %}>Music</option>
                                        <option value="Leadership" {% if notice['category'] == 'Leadership' %}selected{% endif %}>Leadership</option>
                                        <option value="General" {% if notice['category'] == 'General' %}selected{% endif %}>General</option>
                                    </select>
                                </div>
                                <div class="centerContent">
                                    <textarea name="info_{{ notice['id'] }}" id="info_{{ notice['id'] }}">{{ notice['information'] }}</textarea>
                                </div>
                                <div class="row justifyContentEvenly">
                                        <div class="col">
                                            <div class="row justifyContentEvenly">
                                                <label for="startDate">Start Date:</label>
                                            </div>
                                            <div class="row justifyContentEvenly">
                                                <input type="date" id="startDate_{{ notice['id'] }}" name="startDate_{{ notice['id'] }}" value="{{ notice['startDate'] }}">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row justifyContentEvenly">
                                                <label for="endDate">End Date:</label>
                                            </div>
                                            <div class="row justifyContentEvenly">
                                                <input type="date" id="endDate_{{ notice['id'] }}" name="endDate_{{ notice['id'] }}" value="{{ notice['endDate'] }}">
                                            </div>
                                        </div>
                                </div>
                            </form>
                            <form action="{{ url_for('delete', noticeID=notice['id']) }}">
                                <div class="centerContent">
                                    <button type="submit">Delete</button>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
    {% else %}
        <div class="textCenter">
            <h1>No notices available for this date!</h1>
        </div>
    {% endif %}
{% endblock %}