<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Daily Notices | Edit</title>
</head>
<body>
    <form method="post">
        {% for notice in notices %}
            <form method="post">
                <input type="hidden" name="id_{{ notice['id'] }}" value="{{ notice['id'] }}">
        
                <label for="name_{{ notice['id'] }}">Name:</label>
                <input id="name_{{ notice['id'] }}" name="name_{{ notice['id'] }}" value="{{ notice['name'] }}">
        
                <label for="category_{{ notice['id'] }}">Category:</label>
                <select name="category_{{ notice['id'] }}" id="category_{{ notice['id'] }}">
                    <option value="Sports" {% if notice['category'] == 'Sports' %}selected{% endif %}>Sports</option>
                    <option value="Culture" {% if notice['category'] == 'Culture' %}selected{% endif %}>Culture</option>
                    <option value="Academics" {% if notice['category'] == 'Academics' %}selected{% endif %}>Academics</option>
                    <option value="Music" {% if notice['category'] == 'Music' %}selected{% endif %}>Music</option>
                    <option value="Leadership" {% if notice['category'] == 'Leadership' %}selected{% endif %}>Leadership</option>
                    <option value="General" {% if notice['category'] == 'General' %}selected{% endif %}>General</option>
                </select>
        
                <label for="info_{{ notice['id'] }}">Info:</label>
                <textarea name="info_{{ notice['id'] }}" id="info_{{ notice['id'] }}">{{ notice['information'] }}</textarea>
                <input type="submit" value="Update">
            </form>
            <form action="{{ url_for('Delete', noticeID=notice['id']) }}">
                <button type="submit">Delete</button>
            </form>
        {% endfor %}
</body>
</html>