<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Daily Notices</title>
</head>
<body>
    {% for notice in notices %}
        <h1>{{ notice["name"] }}</h1>
        <h1>{{ notice["category"] }}</h1>
        <h1>{{ notice["information"] }}</h1>
        <h1>{{ notice["teacherCode"] }}</h1>
    {% endfor %}
</body>
</html>