<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Daily Notices</title>
</head>
<body>
    <nav>
        <div class="row">
            <div class="row w50">
                <h1>Daily Notices</h1>
            </div>
            <div class="rowReverse w50">
                <div class="navItems rowReverse">
                    <a href="{{ url_for('index') }}" class="textDecorationNone">Home</a>
                    <a href="{{ url_for('login') }}" class="textDecorationNone">Log In</a>
                </div>
                <div class="navItems rowReverse">
                    <a href="{{ url_for('add') }}" class="textDecorationNone">Add</a>
                    <a href="{{ url_for('edit') }}" class="textDecorationNone">Edit</a>
                </div>
            </div>
        </div>
    </nav>
    {% for row in notices %}
        <div class="row justifyContentEvenly">
            {% for notice in row %}
                <div class="noticeContainer">
                    <h1>{{ notice["name"] }}</h1>
                    <h2>{{ notice["category"] }}</h2>
                    <p>{{ notice["information"] }}</p>
                    <h3>{{ notice["teacherCode"] }}</h3>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>