{% extends "mainTemplate.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    {% for row in notices %}
        <div class="row justifyContentEvenly">
            {% for notice in row %}
                <div class="noticeContainer">
                    <h1>{{ notice["name"] }}</h1>
                    <h2>{{ notice["category"] }}</h2>
                    <p>{{ notice["information"] }}</p>
                    <h3>{{ notice["teacherCode"] }}</h3>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}