{% extends "mainTemplate.html" %}

{% set title="Login" %}

{% block content %}
    <div class="loginContainer mxAuto">
        <div class="row justifyContentEvenly w100">
            <form method="post">
                <div class="row justifyContentEvenly">
                    <div class="col justifyContentEvenly">
                        <div class="row justifyContentEvenly">
                            <label for="username">Username:</label>
                        </div>
                        <div class="row justifyContentEvenly">
                            <input type="text" name="username" required autocomplete="off" maxlength="15">
                        </div>
                    </div>
                    <div class="col justifyContentEvenly">
                        <div class="row justifyContentEvenly">
                            <label for="password">Password:</label>
                        </div>
                        <div class="justifyContentEvenly">
                            <input type="password" name="password" required autocomplete="off" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="centerContent">
                    <button type="submit" value="Log In">Log In</button>
                </div>
                <div class="centerContent">
                    <a href="{{ url_for('register') }}" class="textDecorationNone button" type="button">Register</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}