<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Daily Notices | Log In</title>
</head>
<body>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required autocomplete="off">
        <label for="password">Password:</label>
        <input type="password" name="password" required autocomplete="off">
        <input type="submit" value="Log In">
    </form>
</body>
</html>