<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    {% if title != "" %}
        <title>Daily Notices | {{ title }}</title>
    {% else %}
        <title>Daily Notices</title>
    {% endif %}
</head>
<body>
    <nav>
        <div class="row">
            <div class="row w50">
                {% if title != "" %}
                    <h1>Daily Notices | {{ title }}</h1>
                {% else %}
                    <h1>Daily Notices</h1>
                {% endif %}
            </div>
            <div class="rowReverse w50">
                <div class="navItems rowReverse">
                    <a href="{{ url_for('index') }}" class="textDecorationNone">Home</a>
                    {% if userInSession %}
                        <a href="{{ url_for('logout') }}" class="textDecorationNone">Log Out</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="textDecorationNone">Log In</a>
                    {% endif %}
                </div>
                {% if userInSession %}
                    <div class="navItems rowReverse">
                        <a href="{{ url_for('add') }}" class="textDecorationNone">Add</a>
                        <a href="{{ url_for('edit') }}" class="textDecorationNone">Edit</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="centerContent">
                <h1>{{ messages[0] }}</h1>
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>