<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Daily Notices | Register</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" required autocomplete="off" maxlength="25">
        <input type="text" name="code" required autocomplete="off" maxlength="3">
        <input type="text" name="username" required autocomplete="off" maxlength="15">
        <input type="password" name="password" required autocomplete="off" maxlength="50">
        <input type="submit" value="Register">
    </form>
</body>
</html>