<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Daily Notices | Test</title>
</head>
<body>
    <nav>
        <div class="rowReverse">
            <div class="navItems rowReverse">
                <a href="" class="textDecorationNone">Home</a>
                <a href="" class="textDecorationNone">Log In</a>
            </div>
        </div>
    </nav>
</body>
</html>