<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Daily Notices | Test</title>
</head>
<body>
    <nav>
        <div class="rowReverse">
            <div class="navItems rowReverse">
                <a href="" class="textDecorationNone">Home</a>
                <a href="" class="textDecorationNone">Log In</a>
            </div>
        </div>
    </nav>
    <div class="row justifyContentEvenly">
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <h3>Info</h3>
            <h4>Teacher Code</h4>
        </div>
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <h3>Info</h3>
            <h4>Teacher Code</h4>
        </div>
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <h3>Info</h3>
            <h4>Teacher Code</h4>
        </div>
    </div>
    <div class="row justifyContentEvenly">
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <h3>Info</h3>
            <h4>Teacher Code</h4>
        </div>
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <h3>Info</h3>
            <h4>Teacher Code</h4>
        </div>
    </div>
</body>
</html>