<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Daily Notices | Test</title>
</head>
<body>
    <nav>
        <div class="row">
            <div class="row w50">
                <h1>Daily Notices</h1>
            </div>
            <div class="rowReverse w50">
                <div class="navItems rowReverse">
                    <a href="" class="textDecorationNone">Home</a>
                    <a href="" class="textDecorationNone">Log In</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row justifyContentEvenly">
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <p>Info</p>
            <h3>Teacher Code</h3>
        </div>
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <p>Info</p>
            <h3>Teacher Code</h3>
        </div>
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <p>Info</p>
            <h3>Teacher Code</h3>
        </div>
    </div>
    <div class="row justifyContentEvenly">
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <p>Info</p>
            <h3>Teacher Code</h3>
        </div>
        <div class="noticeContainer">
            <h1>Name</h1>
            <h2>Category</h2>
            <p>Info</p>
            <h3>Teacher Code</h3>
        </div>
    </div>
</body>
</html>