:root {
    --background: #d0c7dc;
    --primary: #9f9ae7;
    --complimentaryPrimary: #E2E79A;
    --accent: #3b2978;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 1.3;
    background-color: var(--background);
}

* {
    box-sizing: inherit;
}

nav {
    top: 0;
    background-color: var(--primary);
    padding: 2%;
}
.navItems {
    font-size: calc(1vh + 1.5vw);
}

p, h1, h2, h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.row {
    display: flex;
    flex-direction: row;
}
.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}
.column {
    display: flex;
    flex-direction: column;
}
.textDecorationNone {
    text-decoration: none;
}