:root {
    --background: #f7f2fe;
    --primary: #b5b0fa;
    --lightPrimary: #bfbbfc;
    --complimentaryPrimary: #d2eeb7;
    --accent: #3b2978;
    --darkAccent: #19122f;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 1.3;
    background-color: var(--background);
    color: var(--darkAccent);
}

* {
    box-sizing: inherit;
}

nav {
    top: 0;
    background-color: var(--primary);
    padding: 2%;
    position: sticky;
    z-index: 1;
}
.navItems {
    width: 50%;
}
.navItems a {
    font-size: calc(0.9vh + 1.1vw);
    padding: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
    color: var(--darkAccent);
    height: fit-content;
    align-self: center;
    margin: 4.2%;
    background-color: var(--complimentaryPrimary);
    border-radius: 0.3rem;
    filter: brightness(100%);
    transition-duration: 300ms;
    cursor: pointer;
}
.navItems a:hover {
    filter: brightness(130%);
}

p, h1, h2, h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
h1 {
    font-size: calc(1.5vh + 1.8vw);
    color: var(--darkAccent);
}
nav h1 {
    font-size: calc(2vh + 2.1vw);
    color: var(--darkAccent);
    margin: 2%;
}
h2 {
    font-size: calc(1.2vh + 1.5vw);
    color: var(--darkAccent);
}
h3 {
    font-size: calc(0.9vh + 1.1vw);
    color: var(--darkAccent);
}
p {
    font-size: calc(0.8vh + 0.9vw);
    color: var(--darkAccent);
}
.w100 {
    width: 100%;
}
.w50 {
    width: 50%;
}
.row {
    display: flex;
    flex-direction: row;
}
.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}
.column {
    display: flex;
    flex-direction: column;
}
.textDecorationNone {
    text-decoration: none;
    color: var(--darkAccent);
}
.noticeContainer {
    background-color: var(--complimentaryPrimary);
    width: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5.5%;
    padding-left: 5.5%;
    border-radius: 0.25rem;
    margin: 3%;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
}
.noticeContainer:hover {
    transform: scale(105%);
}
.justifyContentEvenly {
    justify-content: space-evenly;
}
.noticeContainer input[type="text"] {
    padding: 3%;
    margin: 3%;
    text-align: center;
    background-color: var(--lightPrimary);
    border: none;
    border-radius: 0.25rem;
    transition-duration: 0.2s;
    font-size: calc(1.5vh + 1.8vw);
}
.noticeContainer input[type="text"]:focus {
    outline: none;
    filter: brightness(110%);
}
.noticeContainer textarea {
    padding: 3%;
    margin: 3%;
    text-align: center;
    background-color: var(--lightPrimary);
    border: none;
    border-radius: 0.25rem;
    font-size: calc(0.8vh + 0.9vw);
    width: 75%;
    transition-duration: 0.2s;
    resize: none;
    height: fit-content;
}
.noticeContainer textarea:focus {
    outline: none;
    filter: brightness(110%);
}
.noticeContainer select {
    font-size: calc(1.2vh + 1.5vw);
}
.noticeContainer select {
    font-size: calc(0.9vh + 1.1vw);
    padding: 2.5%;
    height: fit-content;
    align-self: center;
    text-align: center;
    margin: 4.2%;
    background-color: var(--lightPrimary);
    border-radius: 0.25rem;
    border: none;
    filter: brightness(100%);
    transition-duration: 300ms;
    cursor: pointer;
}
.noticeContainer button, .outsideButton {
    font-size: calc(0.9vh + 1.1vw);
    padding: 3.5%;
    height: fit-content;
    align-self: center;
    text-align: center;
    margin: 2.2%;
    background-color: var(--lightPrimary);
    border-radius: 0.25rem;
    border: none;
    filter: brightness(100%);
    transition-duration: 300ms;
    cursor: pointer;
}
.noticeContainer button:hover,select:hover,.outsideButton:hover {
    filter: brightness(120%);
}
.outsideButton {
    padding: 1.5%;
}
.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mxAuto {
    margin-left: auto;
    margin-right: auto;
}
.loginContainer {
    background-color: var(--complimentaryPrimary);
    width: 75%;
    margin-top: 5%;
    border-radius: 0.25rem;
    padding: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 39vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
}
.loginContainer label {
    padding: 3%;
}
.loginContainer .row {
    gap: 2rem;
}
.loginContainer input[type="text"], .loginContainer input[type="password"] {
    text-align: center;
    font-size: calc(0.9vh + 1.1vw);
    background-color: var(--lightPrimary);
    padding: 2.5%;
    margin-top: 1.5%;
    border: none;
    border-radius: 0.25rem;
    transition-duration: 0.2s;
}
.loginContainer input[type="text"]:focus, .loginContainer input[type="password"]:focus {
    outline: none;
    filter: brightness(110%);
}
.loginContainer button {
    font-size: calc(0.9vh + 1.1vw);
    padding: 2.5%;
    height: fit-content;
    align-self: center;
    text-align: center;
    margin-top: 3%;
    background-color: var(--lightPrimary);
    border-radius: 0.25rem;
    border: none;
    filter: brightness(100%);
    transition-duration: 300ms;
    cursor: pointer;
}
.loginContainer button:hover {
    filter: brightness(120%);
}