body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 1.3;
}

* {
    box-sizing: inherit;
}

nav {
    top: 0;
    background-color: yellow;
}

p, h1, h2, h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}